#root {
  font-family: 'Open Sans', sans-serif;
}
.p-viewer{
  float: right;
  margin-top: -37px;
  margin-right: 15px;
  position: relative;
  z-index: 1;
  cursor:pointer;
  opacity: 0.5;
}
.p-viewer-update{
  float: right;
  margin-top: -27px;
  margin-right: 15px;
  position: relative;
  z-index: 1;
  cursor:pointer;
  opacity: 0.5;
}
.navbar {
  background-color: #fff;
}
.form-login {
  width: 100%;
  max-width: 380px;
  padding: 15px;
  margin: auto;
}
.form-register {
  width: 100%;
  max-width: 380px;
  padding: 15px;
  margin: auto;
}
.form-forgot {
  width: 100%;
  max-width: 380px;
  padding: 15px;
  margin: auto;
}
.page-container {
  position: relative;
  min-height: 100vh;
}
.content-wrap {
  padding-bottom: 5rem;    /* Footer height */
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}
input[type="date"] {
  position: relative;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  color: transparent;
  background: transparent;
}
input[type="time"] {
  position: relative;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  color: transparent;
  background: transparent;
}

.card-counter{
  box-shadow: 2px 2px 10px #DADADA;
  margin: 5px;
  padding: 20px 10px;
  background-color: #fff;
  height: 100px;
  border-radius: 5px;
  transition: .3s linear all;
}

.card-counter:hover{
  box-shadow: 4px 4px 20px #DADADA;
  transition: .3s linear all;
}

/* .card-counter.coloring{
  background-color: #FAFAFA;
  color: #3A4138;
} */

.card-body.primary i{
  color: #007bff;
}

.card-body.danger i{
  color: #ef5350;
}  

.card-body.success i{
  color: #66bb6a;
}  

.card-body.info i{
  color: #26c6da;
}  

.card-counter i{
  font-size: 4em;
  /* opacity: 0.2; */
}

.card-counter .count-numbers{
  position: absolute;
  right: 35px;
  top: 20px;
  font-size: 25px;
  display: block;
}

.card-counter .count-name{
  position: absolute;
  right: 35px;
  top: 65px;
  /* font-style: italic; */
  text-transform: capitalize;
  /* opacity: 0.5; */
  display: block;
  font-size: 18px;
}

.card .hour {
  font-size: 0.8rem;
  margin-top: 0.3rem;
}

/* sweetalert style */
.swal2-popup {
  /* font-size: 1.0rem !important; */
  font-family: 'Open Sans', sans-serif;
}
.my-actions { margin: 0 2em; }
.order-1 { order: 1; }
.order-2 { order: 2; }
.order-3 { order: 3; }

.right-gap {
  margin-right: auto;
}

.colored-toast.swal2-icon-success {
  background-color: #a5dc86 !important;
}

.colored-toast.swal2-icon-error {
  background-color: #f27474 !important;
}

.colored-toast.swal2-icon-warning {
  background-color: #f8bb86 !important;
}

.colored-toast.swal2-icon-info {
  background-color: #3fc3ee !important;
}

.colored-toast.swal2-icon-question {
  background-color: #87adbd !important;
}

.colored-toast .swal2-title {
  color: white;
}

.colored-toast .swal2-close {
  color: white;
}

.colored-toast .swal2-html-container {
  color: white;
}

.datePicker {
  width: 100%;
}

.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
  width: 100% !important;
}

.react-datepicker__navigation-icon {
  top: 5px !important;
}

/* .accordion-button:not(.collapsed) {
  color: #0c63e4;
  background-color: #FEB7EE;
} */